<html>
    <head>
        <title>Integrader &raquo; Login</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script>var __adobewebfontsappname__ = "code"</script>
        <script src="http://use.edgefonts.net/raleway:n1,n7,n4,n5,n3,n8,n9,n2,n6:all.js"></script>
    </head>
    <body>
        <header>
            <div class="logo"><span class="inte">inte</span><span class="grader">grader</span></div>
        </header>
        <div class="assignment-area centered">
            <h1>Assignments</h1>
            <ol class="centered clear assignment-items">
                <!-- THESE NEED TO BE JS-GENERATED AND HAVE LINKS TO ACTUAL ASSIGNMENT PAGES -->
                <a href="problem.html"><li><span class="float-left"><b>Assignment 1</b> (95%)</span><span class="float-right">Due Friday</span><div class="progress-area"><div class="correct" style="width: 95%"></div><div class="locked" style="width: 3%"></div><div class="incorrect" style="width: 2%"></div></div></li></a>
                <li><span class="float-left"><b>Assignment 2</b> (12%)</span><span class="float-right">Due Next Friday</span><div class="progress-area"><div class="correct" style="width: 12%"></div><div class="locked"></div><div class="incorrect" style="width: 16%"></div></div></li>
                <li><span class="float-left"><b>Assignment 3</b> (0%)</span><span class="float-right">Due April 16</span><div class="progress-area"><div class="correct"></div><div class="locked"></div><div class="incorrect"></div></div></li>
                <li><span class="float-left"><b>Assignment 4</b> (0%)</span><span class="float-right">Due April 23</span><div class="progress-area"><div class="correct"></div><div class="locked"></div><div class="incorrect"></div></div></li>
            </ol>
        </div>
    </body>
</html>
