<html>
    <head>
        <link rel=stylesheet href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <script src="/js/handlebars.js"></script>
        <script src="/js/inputParser.js"></script>
        <script src="/js/seedrandom.min.js"></script>
        
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                messageStyle: "none"
            });
        </script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        
        <title>Assignment</title>
        
        <script id="template" type="text/x-handlebars-template">
            <div class="lightbox-bg">
                <div class="lightbox">
                    <h2>Settings</h2>
                    <p>Click outside the lightbox to cancel changes.  Submit to save and view changes.</p><br />
                    <label>Theme</label>
                    <select name="theme-select" class="theme-select">
                        <option value="" {{#ifCond user.settings.theme "==" ""}}selected{{/ifCond}}>Light (Default)</option>
                        <option value="dark" {{#ifCond user.settings.theme "==" "dark"}}selected{{/ifCond}}>Dark</option>
                    </select>
                    <br /><br />
                    <input type="checkbox" name="dbl-enter" id="dbl-enter" {{#if user.settings.doubleEnterSubmit}}checked{{/if}}/><label for="dbl-enter">Enable Double-Enter Submission</label>
                    <input type="submit" />
                </div>
            </div>
            <header>
                <a href="/"><div class="button logo"></div></a>
                <div class="button-area">
                    {{#if user}}
                    <span class="greeting">Hello, <span class="username">{{user.data.name.first}}</span></span>
                    {{else}}
                    <span class="greeting">Not logged in &middot; <a href="/login">Login</a></span>
                    {{/if}}
                    <div class="button button-settings"></div>
                    <div class="button button-submit"></div>
                    <a href="/"><div class="button button-home"></div></a>
                </div>
            </header>
            <div class="main-area">
                <div class="sidebar">
                    {{#if user}}
                    <h2 class="sidebar-header">{{assignment.name}}</h2>
                    <ol class="questions">
                        {{#each assignment.questions}}
                        {{incrementPosition}}
                        <li class="clickable question-select" id="{{position}}"><div class="progress progress-{{progress}}" id="prog{{position}}"></div>{{name}}</li>
                        {{/each}}
                    </ol>
                    {{/if}}
                </div>
                {{resetPosition}}
                <div class="content-main">
                    {{#if user}}
                    {{#each assignment.questions}}
                    {{incrementPosition}}
                    <form class="question-container" id="q{{position}}">
                        <h2>{{name}}</h2>
                        
                        {{pushPosition}}
                        
                        {{#each parts}}
                        
                        {{incrementPosition}}
                        
                        {{#ifCond type "==" "CONTENT"}}
                        <div class="content">
                            <p>{{{formatReds content}}}</p>
                        </div>
                        {{/ifCond}}
                        {{#ifCond type "==" "VIDEO"}}
                        <div class="video">
                            <iframe width="560" height="315" src="//www.youtube.com/embed/{{url}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        {{/ifCond}}
                        {{#ifCond type "==" "IMAGE"}}
                        <div class="image">
                            <img src="{{url}}" {{#if width}}width="{{width}}"{{/if}}/>
                        </div>
                        {{/ifCond}}
                            
                            {{#ifCond type "==" "RADIO"}}
                            {{pushPosition}}
                        <div class="answer-area radio">
                            {{#each choices}}
                            {{incrementPosition}}
                            <input type="radio" name="{{swapPosition}}p{{position}}{{swapPosition}}" value="{{position}}" /><label for="{{position}}">{{this}}</label><br />
                            {{/each}}
                            {{popPosition}}
                            </div>
                            {{/ifCond}}
                            
                            {{#ifCond type "==" "CHECKBOX"}}
                            {{pushPosition}}
                            <div class="answer-area checkbox">
                            {{#each choices}}
                            {{incrementPosition}}
                            <input type="checkbox" name="{{swapPosition}}p{{position}}{{swapPosition}}" value="{{position}}" /><label for="{{position}}">{{this}}</label><br />
                            {{/each}}
                                </div>
                            {{popPosition}}
                            {{/ifCond}}
                            
                            {{#ifCond type "==" "NUMERICAL"}}
                                <div class="answer-area numerical">
                            <input type="text" class="numerical" name="p{{position}}" id="p{{position}}" /><span class="units">{{units}}</span>
                            <div class="errors" id="error{{position}}"></div>
                                    </div>
                            {{/ifCond}}
                            
                            {{#ifCond type "==" "SYMBOLIC"}}
                                    <div class="answer-area symbolic">
                            <div class="variable-list">
                                {{{listVariables variables}}}
                            </div>
                            <input type="text" class="symbolic" id="p{{position}}" name="p{{position}}" />  
                            <div class="symbolic-render-area" id="render{{position}}"></div>
                            <div class="errors" id="error{{position}}"></div>
                                        </div>
                            {{/ifCond}}
                            
                            {{#ifCond type "==" "DROPDOWN"}}
                                        <div class="answer-area dropdown">
                            <select id="p{{position}}" name="p{{position}}">
                                <option value="" disabled selected>Select an answer...</option>
                                {{pushPosition}}
                                {{#each choices}}
                                {{incrementPosition}}
                                <option value="{{position}}">{{this}}</option>
                                {{/each}}
                                {{popPosition}}
                            </select>
                                            </div>
                            {{/ifCond}}
                        
                        {{/each}}
                        <div class="answer-area">
                            <h3>Notes</h3>
                            {{incrementPosition}}
                            <textarea id="notes"></textarea>
                        </div>
                        
                        {{popPosition}}
                    </form>
                    {{/each}}
                    {{else}}
                    <p><a href="/login">Login</a> to complete assignments.</p>
                    {{/if}}
                </div>
            </div>
            <div class="hidden">
                \(\require{color}\)
                \(\definecolor{err}{RGB}{221, 75, 57}\)
            </div>
        </script>
        
        <script type="text/javascript">            
            var currentQuestion = "001";
            
            var loadQueue = [];
            var delay = null;
            
            var changeQuestion = function(question){
                if(currentQuestion == question){
                    return;
                }
                
                loadQueue.push([$(".question-container#q" + currentQuestion), "fadeOut"]);
                loadQueue.push([$(".question-container#q" + question), "fadeIn"]);
                
                processEventQueue();
                
                currentQuestion = question;
            }
            
            var processEventQueue = function(){
                if(delay == null && loadQueue.length > 0){
                    var func = loadQueue.shift();
                    func[0][func[1]](300);
                    func[0].blur();
                    delay = setTimeout(function(){
                        delay = null;
                        processEventQueue();
                    }, 300);
                }
            }
            
            var pad = function(n, width, z) {
                z = z || '0';
                n = n + '';
                return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
            }
            
            var user;
            
            var getQueryVariable = function(variable){
                   var query = window.location.search.substring(1);
                   var vars = query.split("&");
                   for (var i=0;i<vars.length;i++) {
                           var pair = vars[i].split("=");
                           if(pair[0] == variable){return pair[1];}
                   }
                   return(false);
            }
            
            
            var loadCount = 0;
            var toLoad = ["/userinfo", "/assignmentinfo?id=" + getQueryVariable("id")];
            var loadVars = ["user", "assignment"];
            
            var merge = function(a, b, prefix){
                a[prefix] = {}
                for(key in b){
                    a[prefix][key] = b[key];
                }
            }
            
            $(document).ready(function(){
                for(i = 0; i < toLoad.length; i++){
                    var req = new XMLHttpRequest();
                    req.index = i;
                    req.onload = loadedCB;
                    req.open("get", toLoad[i], true);
                    req.send();
                }
            });
            
            var loadedCB = function(){
                window[loadVars[this.index]] = JSON.parse(this.responseText);
                loadCount++;
                
                if(loadCount == toLoad.length){
                    var req = new XMLHttpRequest();
                    req.onload = ready;
                    req.open("get", "/submissions?id=" + getQueryVariable("id"), true);
                    req.send();
                }
            }
            
            var ready = function(){
                window.submissions = JSON.parse(this.responseText);
                
                data = {};
                
                if(user.settings == null){
                    user.settings = {theme: "", doubleEnterSubmit: false};
                } else if(user.settings.theme != ""){
                    $("head").append("<link id='theme' rel='stylesheet' href='/css/" + user.settings.theme + ".css' />");
                }
                
                if($.isEmptyObject(user)){
                    data.user = false;
                } else {
                    merge(data, user, "user");
                }
                
                if($.isEmptyObject(assignment)){
                    data.assignment = false;
                } else {
                    merge(data, assignment, "assignment");
                }
                
                var positionCounter = 0;
                var positionStack = []
                
                Handlebars.registerHelper("position", function(){
                    return pad(positionCounter, 3);
                });
                
                Handlebars.registerHelper("incrementPosition", function(){
                    positionCounter++;
                    return "";
                });
                
                Handlebars.registerHelper("resetPosition", function(){
                    positionCounter = 0;
                    return "";
                });
                
                Handlebars.registerHelper("pushPosition", function(){
                    positionStack.push(positionCounter);
                    positionCounter = 0;
                    return "";
                });
                
                Handlebars.registerHelper("popPosition", function(){
                    positionCounter = positionStack.pop();
                    return "";
                });
                
                Handlebars.registerHelper("swapPosition", function(){
                    temp = positionStack.pop();
                    positionStack.push(positionCounter);
                    positionCounter = temp;
                    return "";
                });
                
                Handlebars.registerHelper("eq", function(a, b){
                    console.log("called on", a, b);
                    return a == b;
                });
                
                Handlebars.registerHelper("log", function(){
                    console.log("!!!");
                    return "";
                });
                
                Handlebars.registerHelper("formatReds", function(text){
                    return text.replace(/\{\{[^\s]*\}\}/g, function(str){
                        str = str.substring(2, str.length-2);
                        str = str.split(":")[1].split("~");
                        low = parseFloat(str[0]);
                        high = parseFloat(str[1]);
                        digits = parseFloat(str[2]);
                        seedSalt = str[3];
                        Math.seedrandom(user._id + seedSalt);
                        num = (high-low) * Math.random() + low;
                        return "<span class='highlight'>" + num.toPrecision(digits) + "</span>";
                    });
                });
                
                Handlebars.registerHelper('ifCond', function (v1, operator, v2, options){
                    switch (operator){
                        case '==':
                            return (v1 == v2) ? options.fn(this) : options.inverse(this);
                        case '!=':
                            return (v1 != v2) ? options.fn(this) : options.inverse(this);
                        case '===':
                            return (v1 === v2) ? options.fn(this) : options.inverse(this);
                        case '<':
                            return (v1 < v2) ? options.fn(this) : options.inverse(this);
                        case '<=':
                            return (v1 <= v2) ? options.fn(this) : options.inverse(this);
                        case '>':
                            return (v1 > v2) ? options.fn(this) : options.inverse(this);
                        case '>=':
                            return (v1 >= v2) ? options.fn(this) : options.inverse(this);
                        case '&&':
                            return (v1 && v2) ? options.fn(this) : options.inverse(this);
                        case '||':
                            return (v1 || v2) ? options.fn(this) : options.inverse(this);
                        default:
                            return options.inverse(this);
                    }
                });
                
                Handlebars.registerHelper("listVariables", function(variables){
                    if(variables.length == 0){
                        return "<div class='hidden' id='variable-storage'></div>";
                    }
                    ret = "Use the following variables as necessary: ";
                    hidden = "<div class='hidden' id='variable-storage'>";
                    for(i = 0; i < variables.length; i++){
                        ret += "\\(" + variables[i] + "\\)";
                        hidden += "<span class='variable'>" + variables[i] + "</span>";
                        if(i < variables.length-1){
                            ret += ", ";
                        }
                    }
                    return ret + hidden + "</div>";
                });
                
                var out = $("body");
                var src = $("#template").html();
                
                var template = Handlebars.compile(src);
                var html = template(data);
                
                out.html(html);
                
                $(".question-select").click(function(e){
                    changeQuestion($(this).attr("id"));
                });
                
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                
                $("input[type='text'].symbolic").bind("change keydown keyup", function(e){
                    console.log("yes");
                    renderId = "render" + $(this).attr("id").substring(1);
                    errorId = "error" + $(this).attr("id").substring(1);
                    
                    if(this.variables === undefined){
                        var varList = [];
                        variables = $(this).parent().children(".variable-list").children("#variable-storage").children(".variable").each(function(n, el){
                            varList.push($(el).text());
                        });
                        
                        this.variables = varList;
                    }
                    
                    console.log("VARLIST", this.variables);
                    
                    rendered = inputToLatex($(this).val(), this.variables);
                    $("#" + renderId).html("\\[" + rendered.latexString + "\\]");
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub, renderId]);
                    
                    if(rendered.errors.length == 0){
                        str = "";
                    } else if(rendered.errors.length == 1){
                        str = "<span class='bold title highlight'>1 Error:</span><br />" + rendered.errors[0];
                    } else if(rendered.errors.length <= 3){
                        str = "<span class='bold title highlight'>" + rendered.errors.length + " Errors:</span>";
                        for(i = 0; i < rendered.errors.length; i++){
                            str += "<br />" + rendered.errors[i];
                        }
                    } else {
                        str = "<span class='bold title highlight'>" + rendered.errors.length + " Errors:</span> <span class='subtitle'>(Showing first 3)</span>";
                        for(i = 0; i < 3; i++){
                            str += "<br />" + rendered.errors[i];
                        }
                    }
                    
                    $(this).parent().children(".errors").html(str);
                    
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub, errorId]);
                });
                
                $(".numerical").bind("change keydown keyup", function(e){
                    if(isNaN($(this).val())){
                        $(this).parent().children(".errors").html("<span class='bold title highlight'>Error: </span>Entered value is not a number.");
                    } else {
                        $(this).parent().children(".errors").html("");
                    }
                });
                
                $(".lightbox-bg, .lightbox").hide();
                
                $(".button-settings").click(function(e){
                    $(".lightbox-bg").fadeIn(300);
                    
                    setTimeout(function(){
                        $(".lightbox").fadeIn(300);
                    }, 200);
                });
                
                $(".lightbox input[type='submit']").click(function(e){
                    $("#theme").remove();
                    
                    console.log("!!!");
                    
                    user.settings.theme = $(".lightbox .theme-select").val();
                    user.settings.doubleEnterSubmit = $(".lightbox #dbl-enter").is(":checked");
                    
                    if(user.settings.theme != ""){
                        $("head").append("<link id='theme' rel='stylesheet' href='/css/" + user.settings.theme + ".css' />");
                    }
                    
                    var req = new XMLHttpRequest();
                    req.open("post", "/updatesettings", true);
                    req.send(JSON.stringify(user.settings));
                    
                    $(".lightbox").fadeOut(300);
                    
                    setTimeout(function(){
                        $(".lightbox-bg").fadeOut(300);
                    }, 100);
                });
                
                //exit without submitting
                $(".lightbox-bg").click(function(e){
                    $(".lightbox").fadeOut(300);
                    
                    setTimeout(function(){
                        $(".lightbox-bg").fadeOut(300);
                    }, 100);
                });
                
                $(".lightbox").click(function(e){
                    e.stopPropagation();
                });
                
                for(i = 0; i < submissions.length; i++){
                    console.log(i);
                    if(submissions[i].type == "SUBMISSION"){
                        cont = $("#q" + pad(submissions[i].question, 3));
                        ans = $(cont.children("div")[submissions[i].part-1]);
                        if($(ans).hasClass("numerical")){
                            $("input[type='text'][name='p" + pad(submissions[i].part, 3) + "']", ans).val(submissions[i].content);
                        } else if($(ans).hasClass("symbolic")){
                            $("input[type='text'][name='p" + pad(submissions[i].part, 3) + "']", ans).val(submissions[i].content);
                        } else if($(ans).hasClass("dropdown")){
                            $("select[name='p" + pad(submissions[i].part, 3) + "'] option[value='" + submissions[i].content + "']", ans).prop("selected", true);
                        } else if($(ans).hasClass("radio")){
                            $("input[type='radio'][name='p" + pad(submissions[i].part, 3) + "'][value='" + pad(submissions[i].content, 3) + "']", ans).prop("checked", true);
                        } else if($(ans).hasClass("checkbox")){
                            data.content = "";
                            $("input[type='checkbox'][name='p" + pad(submissions[i].part, 3) + "']", ans).each(function(n, el){
                                if(submissions[i].content.charAt(n) == '1'){
                                    $(el).prop("checked", true);
                                } else {
                                    $(el).prop("checked", false);
                                }
                            });
                        }
                    } else if(submissions[i].type == "NOTE"){
                        $("#q" + pad(submissions[i].question, 3) + " #notes").val(submissions[i].content);
                    }
                }
                
                $("input[type='text']").change();
                
                $(".button-submit").click(function(e){
                    $("form.question-container").each(function(questionNum, cont){
                        $(cont).children("div").each(function(partNum, ans){
                            if(!$(ans).hasClass("answer-area")){
                                return;
                            }
                            data = {
                                assignment: getQueryVariable("id"),
                                question: questionNum+1,
                                part: partNum+1,
                                type: "SUBMISSION",
                            }
                            
                            if($(ans).hasClass("numerical")){
                                data.content = $("input[type='text'][name='p" + pad(partNum+1, 3) + "']", ans).val();
                            } else if($(ans).hasClass("symbolic")){
                                data.content = $("input[type='text'][name='p" + pad(partNum+1, 3) + "']", ans).val();
                            } else if($(ans).hasClass("dropdown")){
                                data.content = $("select[name='p" + pad(partNum+1, 3) + "']", ans).val();
                            } else if($(ans).hasClass("radio")){
                                data.content = $("input[type='radio'][name='p" + pad(partNum+1, 3) + "']:checked", ans).val();
                            } else if($(ans).hasClass("checkbox")){
                                data.content = "";
                                $("input[type='checkbox'][name='p" + pad(partNum+1, 3) + "']", ans).each(function(n, el){
                                    if($(el).is(":checked")){
                                        data.content += "1";
                                    } else {
                                        data.content += "0";
                                    }
                                });
                            }
                            
                            if(!data.content){
                                return;
                            }
                            
                            var req = new XMLHttpRequest();
                            req.onload = function(){ console.log(this.responseText); };
                            req.open("post", "/answers", true);
                            req.send(JSON.stringify(data));
                            
                            console.log("req sent");
                        });
                    });
                });
            }
        </script>
    </head>
    <body></body>
</html>