<html>
    <head>
        <link rel=stylesheet href="/css/style.css" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/mini.css" media="handheld, (max-width: 800px)" />
        <script src="/js/jquery.min.js"></script>
        <script src="/js/handlebars.js"></script>
        <script src="/js/inputParser.js"></script>
        <script src="/js/seedrandom.min.js"></script>
        
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        
        <title>Assignment</title>
        
        <script id="template" type="text/x-handlebars-template">
            <div class="lightbox-bg">
                <div class="lightbox settings">
                    <h2>Settings</h2>
                    <p>Click outside the lightbox to cancel changes.  Submit to save and view changes.</p><br />
                    <label>Theme</label>
                    <select name="theme-select" class="theme-select">
                        <option value="" {{#ifCond user.settings.theme "==" ""}}selected{{/ifCond}}>Light (Default)</option>
                        <option value="dark" {{#ifCond user.settings.theme "==" "dark"}}selected{{/ifCond}}>Dark</option>
                        <option value="colorful" {{#ifCond user.settings.theme "==" "colorful"}}selected{{/ifCond}}>Colorful</option>
                    </select>
                    <p>Note: Mobile supports only the "light" theme.</p>
                    <br /><br />
                    <input type="checkbox" name="dbl-enter" id="dbl-enter" {{#if user.settings.doubleEnterSubmit}}checked{{/if}}/><label for="dbl-enter">Enable Double-Enter Submission</label>
                    <input type="submit" />
                </div>
            </div>
            <header>
                <a href="/"><div class="button logo"></div></a>
                <div class="button-area">
                    {{#if user}}
                    <span class="greeting">Hello, <span class="user">{{user.data.name.first}}</span> &middot; <a id="logout" href="/logout">Logout</a></span>
                    {{else}}
                    <span class="greeting">Not logged in &middot; <a href="/login">Login</a></span>
                    {{/if}}
                    <div class="button button-settings"></div>
                    <div class="button button-submit"></div>
                    <a href="/"><div class="button button-home"></div></a>
                </div>
            </header>
            <div class="main-area">
                <div class="sidebar"></div>
                <div class="content-main">
                    {{#if user}}
                    <textarea id="json-editor">{{prettyPrint assignment}}</textarea>
                    {{else}}
                    <p><a href="/login">Login</a> to edit assignments.</p>
                    {{/if}}
                </div>
            </div>
        </script>
        
        <script type="text/javascript">
            var getQueryVariable = function(variable){
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i=0;i<vars.length;i++) {
                    var pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
                }
                return(false);
            }
            
            var loadCount = 0;
            var toLoad = ["/userinfo", "/assignmentinfo?id=" + getQueryVariable("id")];
            var loadVars = ["user", "assignment"];

            $(document).ready(function(){
                for(i = 0; i < toLoad.length; i++){
                    var req = new XMLHttpRequest();
                    req.index = i;
                    req.onload = loadedCB;
                    req.open("get", toLoad[i], true);
                    req.send();
                }
            });

            var loadedCB = function(){
                window[loadVars[this.index]] = JSON.parse(this.responseText);
                loadCount++;

                if(loadCount == toLoad.length){
                    ready();
                }
            }
            
            var ready = function(){
                delete assignment._id;
                
                data = {
                    assignment: assignment,
                    user: user
                };
                
                Handlebars.registerHelper("prettyPrint", function(obj){
                    return JSON.stringify(obj, undefined, 2);
                });
                
                Handlebars.registerHelper('ifCond', function (v1, operator, v2, options){
                    switch (operator){
                        case '==':
                            return (v1 == v2) ? options.fn(this) : options.inverse(this);
                        case '!=':
                            return (v1 != v2) ? options.fn(this) : options.inverse(this);
                        case '===':
                            return (v1 === v2) ? options.fn(this) : options.inverse(this);
                        case '<':
                            return (v1 < v2) ? options.fn(this) : options.inverse(this);
                        case '<=':
                            return (v1 <= v2) ? options.fn(this) : options.inverse(this);
                        case '>':
                            return (v1 > v2) ? options.fn(this) : options.inverse(this);
                        case '>=':
                            return (v1 >= v2) ? options.fn(this) : options.inverse(this);
                        case '&&':
                            return (v1 && v2) ? options.fn(this) : options.inverse(this);
                        case '||':
                            return (v1 || v2) ? options.fn(this) : options.inverse(this);
                        default:
                            return options.inverse(this);
                    }
                });
                
                var out = $("body");
                var src = $("#template").html();
                
                var template = Handlebars.compile(src);
                var html = template(data);
                
                out.html(html);
                
                if(user){
                    if(user.settings == null){
                        user.settings = {theme: "", doubleEnterSubmit: false};
                    } else if(user.settings.theme != "" && $("body").css("background-color") == "rgb(242, 242, 242)"){
                        $("head").append("<link id='theme' rel='stylesheet' href='/css/" + user.settings.theme + ".css' />");
                    }
                }
                
                $(".lightbox-bg, .lightbox").hide();
                
                $(".button-settings").click(function(e){
                    $(".lightbox-bg").fadeIn(300);
                    
                    setTimeout(function(){
                        $(".lightbox").fadeIn(300);
                    }, 200);
                });
                
                $(".lightbox input[type='submit']").click(function(e){
                    $("#theme").remove();
                    
                    console.log("!!!");
                    
                    user.settings.theme = $(".lightbox .theme-select").val();
                    user.settings.doubleEnterSubmit = $(".lightbox #dbl-enter").is(":checked");
                    
                    if(user.settings.theme != "" && $("body").css("background-color") == "rgb(242, 242, 242)"){
                        $("head").append("<link id='theme' rel='stylesheet' href='/css/" + user.settings.theme + ".css' />");
                    }
                    
                    var req = new XMLHttpRequest();
                    req.open("post", "/updatesettings", true);
                    req.send(JSON.stringify(user.settings));
                    
                    $(".lightbox").fadeOut(300);
                    
                    setTimeout(function(){
                        $(".lightbox-bg").fadeOut(300);
                    }, 100);
                });
                
                $(".lightbox-bg").click(function(e){
                    $(".lightbox").fadeOut(300);
                    
                    setTimeout(function(){
                        $(".lightbox-bg").fadeOut(300);
                    }, 100);
                });
                
                $(".lightbox").click(function(e){
                    e.stopPropagation();
                });
                
                $("input").attr("autocomplete", "off");
                
                $(".button-submit").click(function(e){
                    var req = new XMLHttpRequest();
                    req.open("post", "/editassignment", true);
                    req.send(JSON.stringify({
                        content: JSON.parse($("#json-editor").val()),
                        assignmentId: getQueryVariable("id")
                    }));
                });
                
                $("#logout").click(function(e){
                    var req = new XMLHttpRequest();
                    req.onload = function(){ console.log("logging out..."); location.reload(); };
                    req.open("post", "/logout", true);
                    req.send();

                    e.preventDefault();
                });
            }
        </script>
        
        <script src="/js/imagepreload.js"></script>
    </head>
    <body></body>
</html>