<html>
    <head>
        <link rel=stylesheet href="/css/style.css" />
        <link rel="stylesheet" href="/css/mini.css" media="only screen and (max-width: 600px)" />
        <script src="/js/jquery.min.js"></script>
        <script src="/js/handlebars.js"></script>
        
        <title>Login</title>
    </head>
    <body>
        <header>
            <a href="/"><div class="button logo"></div></a>
            <div class="button-area">
                <span class="greeting">Not logged in &middot; <a href="/login">Login</a> &middot; <a href="/register">Register</a></span>
                <div class="button button-settings"></div>
                <a href="/"><div class="button button-home"></div></a>
            </div>
        </header>
        <div class="main-area">
            <div class="sidebar">
                <p><a href="/login">Login</a> to view upcoming assignments.</p>
            </div>
            <div class="content-main">
                <h2>Login</h2>
                <form class="answer-area" action="login" method="post">
                    <span class="form-label">Username</span><input type="text" name="username" /><br />
                    <span class="form-label">Password</span><input type="password" name="password" /><br />
                    <input type="submit">
                </form>
            </div>
        </div>
        <script src="/js/imagepreload.js"></script>
    </body>
</html>