<html>
    <head>
        <title>Integrader &raquo; Login</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script>var __adobewebfontsappname__ = "code"</script>
        <script src="http://use.edgefonts.net/raleway:n1,n7,n4,n5,n3,n8,n9,n2,n6:all.js"></script>
	<script>
		var error = {{error}} || 0;
		if (error == 101) {
			console.log("username taken");
		} else if (error == 102) {
			console.log("password takne");
		}
	</script>
    </head>
    <body>
        <header>
            <div class="logo"><span class="inte">inte</span><span class="grader">grader</span></div>
        </header>
        <div class="login-area centered">
            <h1>Register</h1>
            <form action="register" name="Register" method="post">
                <input type="text" name="name" placeholder="Name" />
                <input type="email" name="email" placeholder="Email" />
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <div class="grouped">
                    <input type="checkbox" name="admin" id="admin" />
                    <label for="admin">Admin?</label>
                </div>
                <input type="submit" name="submit" value="Register" />
            </form>
        </div>
    </body>
</html>
