<html>
    <head>
        <title>Integrader &raquo; Login</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script>var __adobewebfontsappname__ = "code"</script>
        <script src="http://use.edgefonts.net/raleway:n1,n7,n4,n5,n3,n8,n9,n2,n6:all.js"></script>
    </head>
    <body>
        <h1>Register</h1>
        <form class="centered" name="register">
            <input type="text" name="username" placeholder="Username" />
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <div class="grouped">
                <input type="checkbox" name="admin" id="admin" />
                <label for="admin">Admin?</label>
            </div>
            <input type="submit" name="submit" value="Login" />
        </form>
    </body>
</html>