
input {
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    display: block;
}

input[type="submit"] {
    padding: 4px 8px;
    font-size: 20px;
    margin-top: 8px;
    border: 0px;
    background: #C73845;
    color: #FFFFFF;
    cursor: pointer;
}

.centered {
    margin: 0px auto;
    width: 300px;
    text-align: center;
}

.centered * {
    margin: 4px auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-family: raleway, sans-serif;
    padding-bottom: 20px;
}

* {
    font-family: raleway, sans-serif;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 12%;
    display: relative;
}

div.sidebar {
    width: 20%;
    float: left;
    height: 90%;
    padding: 16px 0px;
    overflow-y: auto;
}

footer {
    clear: both;
    height: 5%;
}

body {
    overflow: hidden;
    background: #2266FF;
}

div.content {
    width: 80%;
    float: right;
    padding: 16px;
    height: 88%;
    overflow-y: scroll;
    background: #FFFFFF;
    border-radius: 6px 0px 0px 0px;
}

.question-area {
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    padding-right: 8px;
}

div.answer-area {
    width: 30%;
    min-height: 100%;
    height: 100%;
    float: right;
    padding: 8px;
    position: relative;
    background: #F0F0F0;
}

p {
    font-size: 16px;
    line-height: 18px;
    padding: 4px 0px;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

ol.questions,
ol.answers {
    list-style-type: lower-alpha;
}

img {
    margin: 8px auto;
}

div.question-area {
    text-align: center;
}

div.question-area * {
    text-align: left;
}

ol.questions li,
ol.answers li {
    margin: 16px 0px 16px 32px;
    font-weight: 700;
}

ol.answers li {
    position: absolute;
    margin-top: 0px;
    width: calc(100% - 48px);
}

ol.answers li input {
    margin: 0px 4px;
    display: inline-block;
}

.MathJax {
    font-size: 80%;
    position: relative;
}

.sidebar-items {
    counter-reset: sidebar-question-counter;
}

.sidebar-items li {
    list-style-type: lower-alpha;
    height: 48px;
    padding: 4px 6px;;;
    -webkit-transition-duration: 300ms; /* <<< */
    background: rgba(255, 255, 255, .4);
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.sidebar-items li:before {
    content: "Question " counter(sidebar-question-counter);
    counter-increment: sidebar-question-counter;
    font-weight: 700;
    display: block;
    color: #000000;
    font-size: 20px;
    padding-bottom: 2px;
}

.sidebar-items li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, .8);
}

.sidebar-items li:hover {
    background: rgba(255, 255, 255, .5);
}

.sidebar-items li.active {
    background: rgba(255, 255, 255, .6);
}
div.logo {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 48px;
    font-weight: 700;
}



span.inte,
span.grader {
    font-family: "droid-sans-mono", monospace;
    padding: 8px;
}

span.inte {
    background: #EEEEEE;
    border-radius: 8px 0px 0px 8px;
    color: #0044FF;
}

span.grader {
    background: #0044FF;
    border-radius: 0px 8px 8px 0px;
    color: #FFFFFF;
}

ol.answers .locked {
    color: #444444;
    background: #AAAAAA;
    border: 1px solid #888888;
}

ol.answers .incorrect {
    color: #EE4444;
    background: #FFDDDD;
    border: 1px solid #BBA7A7;
}

ol.answers .correct {
    color: #44AA44;
    background: #CCEECC;
    border: 1px solid #AAB3AA;
}

ol.answers .changed {
    color: #AAAA44;
    background: #F8F8BC;
    border: 1px solid #BBBB77;
}

h1.assignment-title {
    position: relative;
    top: -24px;
    text-align: left;
    padding-left: 360px;
}

.login-area {
    padding: 16px;
    border: 1px solid #EEEEEE;
    background: rgba(255, 255, 255, .9);
    width: 300px;
    border-radius: 8px;
}

form {
    padding-bottom: 20px;
}

div.message {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 200px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, .95);
    background: rgba(0, 0, 0, .9);
    color: #FFFFFF;
    padding: 12px;
    text-align: center;
    font-weight: 700;
    -webkit-transition-duration: 300ms;
    z-index: 2;
    opacity: 0;
    cursor: default;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div.progress-area {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 42px;
    height: 6px;
    border: 0px;
    opacity: 8;
    background: rgba(0, 0, 0, .1);
}

div.correct,
div.incorrect,
div.locked {
    height: 100%;
    width: 0%;
    -webkit-transition-duration: 1000ms; /* <<< */
}

div.correct {
    background: #00AA00;
    float: left;
}

div.incorrect {
    float: right;
    background: #EE0000;
}

div.locked {
    background: #222222;
    float: right;
}

ol.answers li .symbolic-input {
    margin-bottom: 8px;
}

.symbolic-output:before {
    width: 10px;
    height: 10px;
    display: block;
    background: #CCCCCC;
    -webkit-transform: rotate(45deg); /* <<< */
    position: absolute;
    right: 8px;
    top: -5px;
    content: " ";
}

.symbolic-output {
    background: #CCCCCC;
    padding: 4px;
    border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    min-height: 64px;
    min-width: 80%;
    position: relative;
    top: -4px;
    z-index: 2;
    right: 25%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 300ms; /* <<< */
}

textarea {
    vertical-align: top;
    width: 100%;
    min-width: 80%;
    max-width: 80%;
    min-height: 24px;
    height: 48px;
    margin-left: 4px;
    padding: 4px;
    border-radius: 4px;
    font-size: 15px;
}

select {
    font-size: 15px;
    border-radius: 4px;
}

.latex-init {
    display: none;
}

select option:first-child {
    display: none;
    color: #888888;
}